backports.functools-lru-cache==1.4
backports.weakref==1.0rc1
bleach==1.5.0
cycler==0.10.0
decorator==4.2.1
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
html5lib==0.9999999
Markdown==2.6.8
matplotlib==2.1.2
mock==2.0.0
networkx==2.1
numpy==1.14.0
pbr==3.1.1
Pillow==5.0.0
protobuf==3.3.0
py==1.4.34
pyparsing==2.2.0
pyqtgraph==0.10.0
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc2
Werkzeug==0.12.2
